@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcolme to Contoso University</h1>
</div>
<div class="col-md-4">
    <h2>Welcome to Contoso University</h2>
    <p>
        Contoso University, it's okay I guess I can't really
         be botherd to enter in the proper information
    </p>
</div>
