@model Car_Database.Models.Car

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Car</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CarBrandID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CarBrandID" class ="form-control" asp-items="ViewBag.CarBrandID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CarModelID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CarModelID" class ="form-control" asp-items="ViewBag.CarModelID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Displacement" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Displacement" class="form-control" />
                <span asp-validation-for="Displacement" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DriveTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DriveTypeID" class ="form-control" asp-items="ViewBag.DriveTypeID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FuelTypeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FuelTypeID" class ="form-control" asp-items="ViewBag.FuelTypeID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Power" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Torque" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Torque" class="form-control" />
                <span asp-validation-for="Torque" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Weight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
